In [1]:
import numpy as np
import pandas as pd
import pickle
import csv
import os
import torch
from torch_geometric.data import Data

In [2]:
np.random.seed(42)

In [3]:
with open('../input/yoochoose-clicks.p','rb') as f:
    df = pickle.load(f)

In [4]:
df.head(20)

    session_id                 timestamp    item_id category
0            1  2014-04-07T10:51:09.277Z  214536502        0
1            1  2014-04-07T10:54:09.868Z  214536500        0
2            1  2014-04-07T10:54:46.998Z  214536506        0
3            1  2014-04-07T10:57:00.306Z  214577561        0
4            2  2014-04-07T13:56:37.614Z  214662742        0
5            2  2014-04-07T13:57:19.373Z  214662742        0
6            2  2014-04-07T13:58:37.446Z  214825110        0
7            2  2014-04-07T13:59:50.710Z  214757390        0
8            2  2014-04-07T14:00:38.247Z  214757407        0
9            2  2014-04-07T14:02:36.889Z  214551617        0
10           3  2014-04-02T13:17:46.940Z  214716935        0
11           3  2014-04-02T13:26:02.515Z  214774687        0
12           3  2014-04-02T13:30:12.318Z  214832672        0
13           4  2014-04-07T12:09:10.948Z  214836765        0
14           4  2014-04-07T12:26:25.416Z  214706482        0
15           6  2014-04-06T16:58:20.848Z  214701242        0
16           6  2014-04-06T17:02:26.976Z  214826623        0
17           7  2014-04-02T06:38:53.104Z  214826835        0
18           7  2014-04-02T06:39:05.854Z  214826715        0
19           8  2014-04-06T08:49:58.728Z  214838855        0

In [5]:
buy_df = pd.read_csv('../input/yoochoose-buys.dat', header=None)
buy_df.columns=['session_id','timestamp','item_id','price','quantity']
buy_df.head(20)

    session_id                 timestamp    item_id  price  quantity
0       420374  2014-04-06T18:44:58.314Z  214537888  12462         1
1       420374  2014-04-06T18:44:58.325Z  214537850  10471         1
2       281626  2014-04-06T09:40:13.032Z  214535653   1883         1
3       420368  2014-04-04T06:13:28.848Z  214530572   6073         1
4       420368  2014-04-04T06:13:28.858Z  214835025   2617         1
5       140806  2014-04-07T09:22:28.132Z  214668193    523         1
6       140806  2014-04-07T09:22:28.176Z  214587399   1046         1
7       140806  2014-04-07T09:22:28.219Z  214586690    837         1
8       140806  2014-04-07T09:22:28.268Z  214774667   1151         1
9       140806  2014-04-07T09:22:28.280Z  214578823   1046         1
10          11  2014-04-03T11:04:11.417Z  214821371   1046         1
11          11  2014-04-03T11:04:18.097Z  214821371   1046         1
12          12  2014-04-02T10:42:17.227Z  214717867   1778         4
13      489758  2014-04-06T09:59:52.422Z  214826955   1360         2
14      489758  2014-04-06T09:59:52.476Z  214826715    732         2
15      489758  2014-04-06T09:59:52.578Z  214827026   1046         1
16      140802  2014-04-02T16:52:21.678Z  214716984   1883         1
17      489756  2014-04-05T16:51:59.947Z  214716932   6177         1
18      420378  2014-04-03T07:41:02.566Z  214821017   1046         1
19      420378  2014-04-03T07:41:02.616Z  214821020    732         1

In [6]:
buy_df.nunique()

session_id     509696
timestamp     1136477
item_id         19949
price             735
quantity           28
dtype: int64

In [7]:
df.nunique()

session_id     9249729
timestamp     32937845
item_id          52739
category           340
dtype: int64

In [8]:
df['valid_session'] = df.session_id.map(df.groupby('session_id')['item_id'].size() > 2)
df = df.loc[df.valid_session].drop('valid_session',axis=1)
df.nunique()

session_id     4431931
timestamp     24590089
item_id          48255
category           331
dtype: int64

In [9]:
# #randomly sample a couple of them
sampled_session_id = np.random.choice(df.session_id.unique(), 1000000, replace=False)
df = df.loc[df.session_id.isin(sampled_session_id)]
df.nunique()

session_id    1000000
timestamp     5546275
item_id         37353
category          260
dtype: int64

In [10]:
df.isna().sum()

session_id    0
timestamp     0
item_id       0
category      0
dtype: int64

In [11]:
# average length of session 
df.groupby('session_id')['item_id'].size().mean()

5.548274

In [12]:
from sklearn.preprocessing import LabelEncoder

item_encoder = LabelEncoder()
df['item_id'] = item_encoder.fit_transform(df.item_id)
df.head()

    session_id                 timestamp  item_id category
10           3  2014-04-02T13:17:46.940Z    21302        0
11           3  2014-04-02T13:26:02.515Z    25022        0
12           3  2014-04-02T13:30:12.318Z    29039        0
49          19  2014-04-01T20:52:12.357Z     5749        0
50          19  2014-04-01T20:52:13.758Z     5749        0

In [13]:
df['label'] = df.session_id.isin(buy_df.session_id)
df.head()

    session_id                 timestamp  item_id category  label
10           3  2014-04-02T13:17:46.940Z    21302        0  False
11           3  2014-04-02T13:26:02.515Z    25022        0  False
12           3  2014-04-02T13:30:12.318Z    29039        0  False
49          19  2014-04-01T20:52:12.357Z     5749        0  False
50          19  2014-04-01T20:52:13.758Z     5749        0  False

In [14]:
df.drop_duplicates('session_id')['label'].mean()

0.085507

In [15]:
import torch
from torch_geometric.data import InMemoryDataset
from tqdm import tqdm

class YooChooseBinaryDataset(InMemoryDataset):
    def __init__(self, root, transform=None, pre_transform=None):
        super(YooChooseBinaryDataset, self).__init__(root, transform, pre_transform)
        self.data, self.slices = torch.load(self.processed_paths[0])

    @property
    def raw_file_names(self):
        return []
    @property
    def processed_file_names(self):
        return ['../input/yoochoose_click_binary_1M_sess.dataset']

    def download(self):
        pass
    
    def process(self):
        
        data_list = []

        # process by session_id
        grouped = df.groupby('session_id')
        for session_id, group in tqdm(grouped):
            sess_item_id = LabelEncoder().fit_transform(group.item_id)
            group = group.reset_index(drop=True)
            group['sess_item_id'] = sess_item_id
            node_features = group.loc[group.session_id==session_id,['sess_item_id','item_id']].sort_values('sess_item_id').item_id.drop_duplicates().values

            node_features = torch.LongTensor(node_features).unsqueeze(1)
            target_nodes = group.sess_item_id.values[1:]
            source_nodes = group.sess_item_id.values[:-1]

            edge_index = torch.tensor([source_nodes,
                                   target_nodes], dtype=torch.long)
            x = node_features

            y = torch.FloatTensor([group.label.values[0]])

            data = Data(x=x, edge_index=edge_index, y=y)
            data_list.append(data)
        
        data, slices = self.collate(data_list)
        torch.save((data, slices), self.processed_paths[0])

In [16]:
dataset = YooChooseBinaryDataset(root='../')

Processing...

100%|██████████| 1000000/1000000 [1:15:37<00:00, 220.41it/s]

Done!

In [18]:
dataset = dataset.shuffle()
train_dataset = dataset[:800000]
val_dataset = dataset[800000:900000]
test_dataset = dataset[900000:]
len(train_dataset), len(val_dataset), len(test_dataset)

(800000, 100000, 100000)

In [19]:
from torch_geometric.data import DataLoader
batch_size= 1024
train_loader = DataLoader(train_dataset, batch_size=batch_size)
val_loader = DataLoader(val_dataset, batch_size=batch_size)
test_loader = DataLoader(test_dataset, batch_size=batch_size)

In [20]:
num_items = df.item_id.max() +1
num_items

37353

In [26]:
embed_dim = 128
from torch_geometric.nn import GraphConv, TopKPooling, GatedGraphConv
from torch_geometric.nn import global_mean_pool as gap, global_max_pool as gmp
import torch.nn.functional as F
class Net(torch.nn.Module):
    def __init__(self):
        super(Net, self).__init__()

        self.conv1 = GraphConv(embed_dim, 128, aggr='max')
        self.pool1 = TopKPooling(128, ratio=0.8)
        self.conv2 = GraphConv(128, 128, aggr='max')
        self.pool2 = TopKPooling(128, ratio=0.8)
        self.conv3 = GraphConv(128, 128, aggr='max')
        self.pool3 = TopKPooling(128, ratio=0.8)
        self.item_embedding = torch.nn.Embedding(num_embeddings=num_items, embedding_dim=embed_dim)
        self.lin1 = torch.nn.Linear(256, 128)
        self.lin2 = torch.nn.Linear(128, 64)
        self.lin3 = torch.nn.Linear(64, 1)
        self.bn1 = torch.nn.BatchNorm1d(128)
        self.bn2 = torch.nn.BatchNorm1d(64)
        self.act1 = torch.nn.ReLU()
        self.act2 = torch.nn.ReLU()        
  
    def forward(self, data):
        x, edge_index, batch = data.x, data.edge_index, data.batch
        x = self.item_embedding(x)
        x = x.squeeze(1)        

        x = F.relu(self.conv1(x, edge_index))
      
        x, edge_index, _, batch, _ = self.pool1(x, edge_index, None, batch)
        x1 = torch.cat([gmp(x, batch), gap(x, batch)], dim=1)

        x = F.relu(self.conv2(x, edge_index))
     
        x, edge_index, _, batch, _ = self.pool2(x, edge_index, None, batch)
        x2 = torch.cat([gmp(x, batch), gap(x, batch)], dim=1)

        x = F.relu(self.conv3(x, edge_index))

        x, edge_index, _, batch, _ = self.pool3(x, edge_index, None, batch)
        x3 = torch.cat([gmp(x, batch), gap(x, batch)], dim=1)

        x = x1 + x2 + x3

        x = self.lin1(x)
        x = self.act1(x)
        x = self.lin2(x)
        x = self.act2(x)      
        x = F.dropout(x, p=0.5, training=self.training)

        x = torch.sigmoid(self.lin3(x)).squeeze(1)

        return x

In [27]:
device = torch.device('cuda')
model = Net().to(device)
optimizer = torch.optim.Adam(model.parameters(), lr=0.005)
crit = torch.nn.BCELoss()

In [28]:
def train():
    model.train()

    loss_all = 0
    for data in train_loader:
        data = data.to(device)
        optimizer.zero_grad()
        output = model(data)
        label = data.y.to(device)
        loss = crit(output, label)
        loss.backward()
        loss_all += data.num_graphs * loss.item()
        optimizer.step()
    return loss_all / len(train_dataset)

In [29]:
from sklearn.metrics import roc_auc_score
def evaluate(loader):
    model.eval()

    predictions = []
    labels = []

    with torch.no_grad():
        for data in loader:

            data = data.to(device)
            pred = model(data).detach().cpu().numpy()

            label = data.y.detach().cpu().numpy()
            predictions.append(pred)
            labels.append(label)

    predictions = np.hstack(predictions)
    labels = np.hstack(labels)
    
    return roc_auc_score(labels, predictions)

In [30]:
for epoch in range(1, 2):
    loss = train()
    train_acc = evaluate(train_loader)
    val_acc = evaluate(val_loader)    
    test_acc = evaluate(test_loader)
    print('Epoch: {:03d}, Loss: {:.5f}, Train Auc: {:.5f}, Val Auc: {:.5f}, Test Auc: {:.5f}'.
          format(epoch, loss, train_acc, val_acc, test_acc))

Epoch: 001, Loss: 0.27509, Train Auc: 0.79018, Val Auc: 0.74977, Test Auc: 0.75090
Epoch: 002, Loss: 0.25344, Train Auc: 0.82577, Val Auc: 0.75374, Test Auc: 0.75427

KeyboardInterrupt: